*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1,
.Creo que es arte {
  text-align: center;
  font-size: 4rem;
  font-weight: bold;
  color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h2{font-size: 2m;}
h3{font-size: 1.8em;}
h4{font-size: 1.2em;}
p{font-size: 1em;}

button{
  
    font-size: 1.5em;
    font-weight: bould;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(92, 5, 109, 0.5);
    box-shadow: 2px 2px 10px rgba(92, 5, 109, 0.5);
    color: white;
    background-color: rgb(92, 5, 109);
    
  }

button:hover{

    background-color:rgb(128, 49, 156);
  }

.conteiner{
    max-width: 1400px;
    margin: auto;
}

header .logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    font-size: 1em;
}

header{
    background-color: rgb(239, 196, 255);
  }

a{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;

}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}





.services__body {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 20px;
  row-gap: 40px;
  margin-bottom: 4rem;
}
