*{
   box-sizing: border-box;
}

html{
   scroll-behavior: smooth;
}


 /*
 
 rgb(197, 132, 197)
 rgb(145, 22, 185)
 
 
 */

body{
   font-family: 'Roboto', sans-serif;
   margin: 0;
  

}

h1{ font-size: 3.5em;}
h2{ font-size: 2.7em;}
h3{ font-size: 2em;}
p{ font-size: 1.25em;}
ul{ list-style: none;}
li{ font-size: 1.25em;}

button{
   font-size: 1.5em;
   font-weight: bold;
   padding: 10px 20px;
   border-radius: 5px;
   border: transparent;
   box-shadow: transparent;
   color:  rgb(200, 117, 211);
   background-color: transparent;
}

button:hover{
   background-color: rgba(228, 187, 235, 0.573);
}


.container{
   max-width: 1400px;
   margin: auto;

}

header{
   background-color: thistle;

}


header .logo{
   margin: 0;
   padding: 25px 30px;
   font-weight: bold;
   color: darkorchid;
   font-size: 1.6em;

}

header .container{
   display: flex;
   flex-direction: column;
   align-items: center;

}

header nav{
   display: flex;
   flex-direction: column;
   text-align: center;
   padding-bottom: 25px;

}

header a{
   padding: 5px 12px;
   text-decoration: none;
   font-weight: bold;
   color:  darkorchid;
}

header a:hover{
   color: rgb(148, 11, 166);
}



#hero{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 90vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/mmmm.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero h1{
   color: white;
}

#hero2{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 30vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/mmmm.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero2 h1{
   color: white;
}


#hero3{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 30vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero3 h1{
   color: white;
}

#hero4{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 30vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero4 h1{
   color: white;
}

#hero5{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 30vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo.webp);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#hero5 h1{
   color: white;
}





.nuestros-programas{
   background-color: rgba(255, 255, 255, 0);
   text-align: center;
}

#nuestros-programas .container{
   padding: 150px 12px;
  

}

#nuestros-programas h2{
   margin-top: 0;
}

#nuestros-programas p{
   display: none;
}

#nuestros-programas .carta{

}

.carta:first-child{
   background-color: rgba(148, 0, 211, 0.461);
  
}
.carta:nth-child(2){
   background-color: rgba(148, 0, 211, 0.461);

}

.carta:nth-child(3){
   background-color: rgba(148, 0, 211, 0.461);
}

.ilustraciones-analogas{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 50vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo\ 2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#ilustraciones-analogas h2{
   color: white;
}

.ilustraciones-digitales{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 50vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo\ 2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#ilustraciones-digitales h2{
   color: white;
}

.cuadross{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 50vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo\ 2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#cuadross h2{
   color: white;
}

.personall{
   display: flex;
   align-items: center;
   justify-content: center;
   text-align: center;
   flex-direction: column;
   height: 50vh;
   color: whitesmoke;
   background-image: linear-gradient(
      0deg,
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
   ) 

   ,url(../img/lila\ fondo\ 2.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
}
#personall h2{
   color: white;
}

footer{
   background-color: rgb(230,230,230);
}
footer p{
   margin: 0;
   padding: 12px;
   color: rgb(147, 97, 182);
}

footer .container{
   height: 150px;
   display: flex;
   justify-content: center;
   align-items: flex-end;
}