*{
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}


h1{font-size: 4em;}
h2{font-size: 2em;}
h3{font-size: 1.8em;}
h4{font-size: 1.2em}
p{font-size: 1em;}

.container1{
  max-width: 700px;
  margin-left: 300px;
}

.container2{
    max-width: 700px;
    margin-left: 300px;
}

.container3{
  max-width: 700px;
  margin-left: 900px;
}

.container4{
  max-width: 700px;
  margin-left: 300px;
}

header .logo{
    margin: 0;
    padding: 20px 30px;
    font-weight: bold;
    color: white;
    font-size: 1em;
}

header{
    background-color: rgb(239, 196, 255);
}



header a{
    padding: 2px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

.service__title{
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.2em;
}

.service__link{
  color: var(--color-text);
  font-size: small;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

.subtitulo{

  color: var(--color-text);
  font-size: s2rem;
  font-family: Arial, Helvetica, sans-serif;
  color: blueviolet;
  padding: 45px 55px;
  text-decoration: none;
  cursor: pointer;
  border: none;
  align-items: center;
  
}


.fondo_fotos .caja{
  background-position: center;
  background-size: center;
  padding: 100px;
  margin: 0px;
  border-radius: 0px;

}

.caja:first-child{
  background-image: linear-gradient(
    0deg,
    rgba(0,0,0,0.5),
    rgba(0,0,0,0.5)
  )

  ,url(/img/pintura\ 1.jpg)
 

}